<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{title}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink]="['/events']">All Events</a> </li>
    <li><a class="nav-link" [routerLink]="['/events/new']"> Create Event</a> </li>
    <li><a class="nav-link" [routerLink]="['/login']">Login</a> </li>
    <li><a class="nav-link" [routerLink]="['/logout']">Logout</a> </li>


  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
