<div class="col-md-12">
  <h3>Create Session</h3>
</div>
<div class="col-md-6">
  <form [formGroup] ="newSessionForm" (ngSubmit)="saveSession(newSessionForm.value)" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty }">
      <label for="sessionName">Session Name:</label>
      <em *ngIf="!validateName() ">Required</em>
      <input formControlName="name" id="sessionName" type="text" class="form-control" placeholder="session name..." />
    </div>
    <div class="form-group" [ngClass]="{'error': presenter.invalid && presenter.dirty }">
      <label for="presenter">Presenter:</label>
      <em *ngIf="!validatePresenter()">Required</em>
      <input formControlName="presenter" id="presenter" type="text" class="form-control" placeholder="presenter..." />
    </div>
    <div class="form-group" [ngClass]="{'error': time.invalid && time.dirty }">
      <label for="time">Time:</label>
      <em *ngIf="!validateTime()">Required</em>
      <em *ngIf="!validateTime() && time?.errors.pattern">Must Start With Number</em>

      <input formControlName="time" id="time" type="text" class="form-control" placeholder="time..." />
    </div>
    <div class="form-group" [ngClass]="{'error': duration.invalid && duration.dirty }">
      <label for="duration">Duration:</label>
      <em *ngIf="duration.invalid && duration.dirty">Required</em>
      <select formControlName="duration" id = "duration" class="form-control">
        <option value="">select duration...</option>
        <option value="1">Half Hour</option>
        <option value="2">1 Hour</option>
        <option value="3">Two Hour</option>
        <option value="4">Three Hour</option>
      </select>
    </div>
    <div class="form-group" [ngClass]="{'error': show.invalid && show.dirty }">
      <label for="show">Show:</label>
      <em *ngIf="show.invalid && show.dirty">Required</em>
      <select formControlName="show" id ="show" class="form-control">
        <option value="">select show...</option>
        <option value="Morning">Morning</option>
        <option value="Evening">Evening</option>
        <option value="Night">Night</option>
      </select>
    </div>
    <div class="form-group" [ngClass]="{'error': abstract.invalid && abstract.dirty }">
      <label for="abstract">Abstract:</label>
      <em *ngIf="abstract.invalid && abstract.dirty && abstract?.errors.required">Required</em>
      <em *ngIf="abstract.invalid && abstract.dirty && abstract?.errors.maxLength">Cannot exceed 400 characters</em>
      <textarea formControlName="abstract" id="abstract" rows=3 class="form-control" placeholder="abstract..."></textarea>
    </div>
<!--    <span   (mouseenter)="mouseoverLogin=true" (mouseleave)-->
<!--      ="mouseoverLogin=false"></span>-->
      <button type="submit" [disabled]="newSessionForm.invalid"  class="btn btn-primary">Save</button>
    <button type="button" (click) = 'cancel()' class="btn btn-default">Cancel</button>
  </form>
</div>
